@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@400;600&display=swap');

html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

*,*::before,*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: linear-gradient(320deg,#BAD7E9,#2B3467,#EB455F, #FCFFE7);
    display: flex;
    font-family: 'Tillana', cursive;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.wrapper {
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 16px;
    box-shadow: 0 4px 30px #393E46;
    color: black;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

.screen {
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    background: rgba(255, 255, 255, 0.75);
    border: rgba(255, 255, 255, 0.01);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    color: #232323;
    font-size: 30px;
    overflow: auto;    
    padding: 20px;
    text-align: right;
    width: 326px;
}

.calc-button-baris {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button {
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    color: #232323;
    flex-basis: 20%;
    font-family: 'Tillana', cursive;
    font-size: 24px;
    height: 65px;
}

.calc-button:last-child {
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    color: #fff;
    background: #A0D8B3;
}

.calc-button:last-child:hover {
    background-color: rgba(255, 255, 255, 0.75);
    color: inherit;
    cursor: pointer;
}

.calc-button:hover {
    cursor: pointer;
    color: inherit;
}

.calc-button:active {
    background-color: #A0D8B3;
}

.double{
    flex-basis: 47%;
}
.triple{
    flex-basis: 73%;
}




